.Content {
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 0;
}
a {
  display: flex;
}

.Dayeo {
  border: 1px solid #0077ff;
  border-radius: 5px;
  background-color: #3493ff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: auto auto;
  font-size: 20px;
  padding: 10px;
}

.text {
  display: flex;
  color: gray;
}

span {
  font-weight: bolder;
  color: rgb(96, 96, 96);
}

.line {
  border-top: 2px solid rgb(223, 223, 223);
}
